body {
    background-image: url("./Linux.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

#co{
    background-color: rgba(52, 151, 110, 0.8); 
    border: 2px solid black; 
    margin-top: 2rem;
    text-align: center;
    color: #e4d9d0; 
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#co img{
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.co2{
    background-color: rgba(163, 118, 33, 0.8); 
    border: 6spx solid black; 
    margin-top: 2rem;
    text-align: center;
}